---
import BasicLayout from "../layout/BasicLayout.astro"

import { Image } from 'astro:assets';

import { getCollection } from "astro:content";

const cards = await getCollection('cardPost')

console.log(cards)
---


<BasicLayout>

	<div>
				{
					cards.map((card: any) => (
					<div>
						<h1>{card.data.title}</h1>
						{card.data.cover?.src && (
							<img src={card.data.cover.src} alt={card.data.coverAlt} />
						 )}
						 <p>{card.body}</p>
					</div>
				))
			}
		 </div>


</BasicLayout>



